{% load static %}

<link href="{% static 'appearance/node_modules/@fortawesome/fontawesome-free/css/all.min.css' %}" media="screen" rel="stylesheet" type="text/css" />
<link href="{% static 'appearance/node_modules/bootswatch/flatly/bootstrap.min.css' %}" media="screen" rel="stylesheet" type="text/css" />
<link href="{% static 'appearance/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css' %}" media="screen" rel="stylesheet" type="text/css" />
<link href="{% static 'appearance/node_modules/select2/dist/css/select2.min.css' %}" media="screen" rel="stylesheet" type="text/css" />
<link href="{% static 'appearance/node_modules/toastr/build/toastr.min.css' %}" media="screen" rel="stylesheet" type="text/css" />
<link href="{% static 'appearance/css/appearance.css' %}" media="screen" rel="stylesheet" type="text/css" />



<style>
    
   body {
        background-color: rgb(255, 240, 242);
    }
    .container-fluid {
        background-color: pink;
    }

    .btn-block{
        background-color: pink;
        border: 1px solid rgb(255, 123, 145);
    }

    .btn.btn-primary.btn-xs  {
        background-color: pink;
    }

    .btn.btn-primary  {
        background-color: pink;
        border: 1px solid pink;
    }

    .input-group-btn .btn-default{
        background-color: rgb(182, 109, 120);
        border: 1px solid rgb(107, 65, 71);
    }

    .list-group-item.btn-sm.active {
        background-color: pink;
    }

    .panel-heading{
        background-color: pink;
    }

    #menu-main{
        background-color: pink;
    }

    .panel-heading{
        background-color: pink;
    }

    .row strong{
        color: white;
    }

    .panel .panel-footer{
        color: pink;
    }

    .panel .panel-heading{
        background: pink;
    }

    .panel-title{
        background-color: pink;
    }

    #accordion-sidebar .panel-body{
        background-color: pink;
    }

    #accordion-sidebar .panel-body:hover{
        background-color: pink;
    }
    
    #accordion-sidebar a[aria-expanded="true"]{
        background-color: rgb(228, 112, 131)
    }

    .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
        color: rgb(156, 119, 125);
        background-color: transparent;
    }

    .panel-primary>.panel-heading {
        background-color: pink;
        border-color: rgb(156, 119, 125);
    }

    .navbar-brand img {
        max-width: 200%;
        max-height: 200%;
        margin-top: -10px;
    }

    #accordion-sidebar > .panel > div > .panel-body > ul > li:hover {
        background-color: rgb(255, 129, 150);
        transition: .1s ease;
    }

    a:hover{
        color: rgb(255, 129, 150);
    }

    .btn-block:hover{
        background: rgb(255, 129, 150);
    }

    .btn.btn-default.btn-danger.btn-sm.dropdown-toggle {
        background-color: red;
        border: 1px solid red;
    }

    .btn.btn-default.btn-outline.btn-xs {
        background-color: rgb(167, 167, 167);
        border: 1px solid black;
    }

    .btn.btn-default.btn-sm {
        background-color: rgb(167, 167, 167);
        border: 1px solid black;
    }

    .dropdown-menu li a {
        color: palevioletred;
    }

    .list-group-item.active{
        background-color: pink;
    }

    .list-group-item.active:hover{
        background-color: rgb(255, 129, 150);
    }

    .btn.btn-primary.btn-hotkey-default{
        background-color: green;
        border: 1px solid rgb(0, 73, 0);
    }

    .text-center.link-text-span.menu-user-name {
        color: palevioletred;
    }

    .form-group a.btn-default{
        background: red;
        border: 1px solid red;
    }   

    .active.a-main-menu-accordion-link{
        background-color: rgb(228, 112, 131);
    }

    #accordion-sidebar > .panel > div > .panel-body > ul > li.active {
        background: rgb(228, 112, 131);
    }

    div.well {
        background: rgb(255, 172, 186);
    }

    div.panel-footer {
        background: black;
    }

    .well table span a, td a{
        color: rgb(0, 153, 255);
    }

    .well table span a, td a:hover{
        color: rgb(1, 62, 104);
    }

    .nav.navbar-nav.navbar-right li.dropdown.open a[aria-expanded="true"] {
        background: rgb(255, 129, 150);
    }

    .nav.navbar-nav.navbar-right li.dropdown.open ul.dropdown-menu a:hover {
        background: black;
        color:rgb(255, 129, 150)
    }

    ul.dropdown-menu {
        background: white;
    }

    div.form-group p.help-block {
        color: white;
    }

    div.form-group {
        color: black;
    }

    button.btn.btn-primary.disabled {
        background: black;
        opacity: 1;
    }

    div.text-center {
        color: black;
    }

    h3#content-title{
        color: palevioletred;
    }

    div.toast.toast-success {
        background: palevioletred;
        color: blak;
    }

</style>
